@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-al-zaina);
  --font-mono: var(--font-poppins);
  --font-zaina: var(--font-al-zaina);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-poppins), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.font-serif,
.font-zaina {
  font-family: var(--font-al-zaina), serif !important;
}
